*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D0D2B;
    font-family: 'Rubik' sans-serif;
   
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    columns: #ffffff;
}

.button{
    /* width: 100%; */
    padding: 14px 32px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color:transparent;
    color: #ffffff;
    border-radius: 32px;

}

.button:hover{
    background-color: #3671E9;
}

/* .container{
    width: 95%;
    background-color: aqua;
    margin: 75px auto;
    max-width: 1400px;
    
} */

/* .container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


/* .ListItem{
    margin-left: 2em;
    color: #ffffff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
} */

/* .btn-login{
    margin-left: 2em;
} */
/* .ListItem{
    color: red;
} */