.Container{
    width: 100%;
    height: 100vh;
    
    /* margin-left: 50%; */

}

.hero{
    max-width: 1240px;
    padding: 0 1rem;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 139px;
}

.col-1{
    color: #ffffff;
    
}
.wrap{
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    width: 365px;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-bottom: 28px;
}
.col-1 .save{
    position: absolute;
    padding: 8px;
    background-color: #ffffff;
    color: #222222;
    width: 120px;
    text-align: center;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 150%; */
    /* identical to box height, or 24px */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0D2B;
        
}
.col-1 .blackFriday{
    background-color:transparent;
    color: #ffffff;
    width: 300px;
    text-align:end;
    padding: 4px;
    margin-left: 46px;
    border-radius: 20px;
    position: absolute;
    top: 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    letter-spacing: 0.01em;

}

.col-2 img{
    width: 100%;
}

.col-1 h1{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    width: 588px;
    margin-bottom: 24px;

}

.buySellCrypto{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    width: 435px;
    margin-bottom: 32px;
}

.btn-invest{
    background-color: #3671E9 !important;
}

.fact{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 1rem;
    margin: auto;
    margin-top: 100px;
    color: #ffffff;
}

.facts .count-box {
    padding: 30px 30px 25px 30px;
    margin-top: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
  }
  
  .facts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #0563bb;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }
  
  .facts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #011426;
  }
  
.fact .count-box p {
width: 230px;
height: 28px;
left: 224px;
top: 164px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.01em;
color: #E0E0E0;

}

.fact h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
    width: 109px;
    height: 60px;
    left: 224px;
    top: 100px;
}

.fact .count-box{
    width: 334px;
    height: 92px;
    left: 986px;
    top: 100px;
}
.whyCrappo{
    max-width: 1240px;
    padding: 0 1rem;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 139px;

}

.whyCrappo .col-1 img{
    width: 100%;
}

.chooseCrappo{
    margin-top: 100px;
    position: relative;
  
}
.chooseCrappo img{
    max-width: 30%;
    position: absolute;
    height: 550px;
    right: 0;
    top: -58%;
   
}

.whyCrappo .col-2 h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
    width: 480px;
    height: 119.95px;
    left: 840px;
    top: 368.97px;

}

.expCrypto{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    width: 408px;
    height: 83.96px;
    left: 840px;
    /* top: 512.91px; */
    margin-bottom: 32px;
}
.check{
    text-align: center;
    color: #ffffff;
    margin-top:200px ;
    margin-bottom: 64px;
}

.check h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.harshRate{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #E0E0E0;

}
.wrapper{
    position: absolute;
    top: -12%;
    left: 15%;
    width: 942px;
    filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 64px;
    border-radius: 12px;
}
.calculate{
    width: 942px;
    /* height: 305px; */
    padding: 0 3rem;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    /* background-color: #ffffff; */
    padding-top: 62px;
    padding-bottom: 55px;
   
}

.calculate input{
    text-align: center;
    width: 403px;
    height: 38px;
    outline: none;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #0D0D2B;
    mix-blend-mode: normal;
    margin-right: 48px;
    border-bottom: 1px solid #E0E0E0;

}

.calculate .selector{
    width: 200px;
    height: 38px;
    outline: none;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    color: #0D0D2B;
    mix-blend-mode: normal;
    margin-right: 3rem;
    border-bottom: 1px solid #E0E0E0;

}
.btn-calculate{
    background-color: #3671E9 !important;
}

.revenue{
   text-align: start;
   padding-left: 3rem;
   padding-bottom: 3rem;
}

.revenue .estimated{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #3671E9;
    margin-bottom: 16px;
    width: 260px;
    height: 24px;
    left: 297px;
    top: 2220px;
}

.revenue .eth{
    width: 624px;
    height: 48px;
    left: 297px;
    top: 2260px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    color: #0D0D2B;
}

.ethFigure{
    color: #0563bb;
}

.revenue .ethPrice{
    width: 516px;
    height: 28px;
    left: 297px;
    top: 2312px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #828282;
}

.wrapWrapperSecure{
    margin-top: 180px;
    padding-bottom:100px ;
    background-color: #ffffff;
    position: relative;
}
.secureTrade{
    
    padding: 0 4rem;
    margin: auto;
    
}
.secureTrade .trade{
    padding: 18rem 1rem;
    display: flex;
    margin: auto;
    width: 641px;
    height: 120px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #0D0D2B;
    margin-bottom: 4rem;
    
}

.crypto{
    display: flex;
}

.crypto img{
    margin-bottom: 48px;
}

.coinText{
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 150%;
text-align: center;
color: #0D0D2B;
margin-bottom: 1rem;
}

.coinTextspan{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #BDBDBD;
opacity: 0.7;
}

.cryptNarrate{
    margin-bottom: 25px ;
}
.btn-start-mining{
    background-color: #3671E9 !important;
}

.bitCoin,
.eTh,
.litCoin{
    width: 370px;
    height: 433px;
    background: #ffffff;
    backdrop-filter: blur(250px);
    border-radius: 16px;
    margin-right: 45px;
    text-align: center;
    padding: 48px 24px ;
}

.bitCoin:hover,
.eTh:hover,
.litCoin:hover{
    background: #2B076E;
    color: #ffffff;
    
}

.market{
    background-color: #2B076E;
}

.market .marketSentiment {
    color: #ffffff;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    width: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

.investSmart{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.investDetails{
    text-align: start;
    width: 454px;
    padding: 0 1rem;
    margin: 0 6rem;
    /* color: #ffffff; */
}
.investDetails .Inv{
    width: 454px;
    top: 360px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 24px;
    padding-top: 40px;
}

.investDetails .getFull{
    width: 408px;
    top: 432px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    padding-bottom: 34px;
}

.investSmart img{
    width:100%;
    /* height: 427px; */
}

.detailedStatistic{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 115px;
}

.investDetails .detailed{
    width: 454px;
    top: 360px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 24px;
    padding-top: 110px;
}
.growYourProfit{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 130px;
}

.growYourProfit img{
    width: 682px;
}
.profitGrowth{
    text-align: start;
    width: 454px;
    padding: 0 1rem;
    /* margin: 0 6rem; */
    /* color: #ffffff; */
}
.profitGrowth .Inv{
    width: 454px;
    top: 360px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.profitGrowth .getFull{
    width: 408px;
    top: 432px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    padding-bottom: 34px;
}

.wrapAll{
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    height: 392px;
    left: 0px;
    top: 5079px;
   
}

.wrapStartMining{
    width: 1200px;
    background-color:#3671E9;
    margin: auto;
    margin-top: 188px;
    padding:3rem 3rem 3rem 3rem;
    border-radius: 1rem;
    
}

.startMining{
    display: flex;
    text-align: start;
    justify-content: space-between;
}

.startMining .mineNow{
    width: 501px;
    height: 48px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding-bottom: 1rem;
}

.startMining .joinNow{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.wrapHarsh{
    position: relative;
}

.startMining input{
    text-align: center;
    background-color: transparent;
    width: 403px;
    height: 38px;
    outline: none;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff !important;
    mix-blend-mode: normal;
    margin-right: 48px;
    border-bottom: 1px solid #E0E0E0;
}

.btn-subscribe{
    background-color: #ffffff !important;
    color: #0D0D2B !important;
    font-weight: 700;
}

footer{
    background-color: #0D0D2B;
   
    
}

.subFooter{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.bottomFooter{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 80px;
}
/* 
.hero .container{
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
} */

/* .hero .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

/* .hero .col-1{
    padding: 1rem 1rem 1rem 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */


    /* font-size: 42px;
    font-weight: 700;
    color: #fff;
    width: 588px;
    height: 228px;
    left: 120px;
    top: 307px; */

    /* Heading / H1 */
/* 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px; */

    /* Neutral / White */

    /* color: #FFFFFF; */


/* .hero .col-1 p{
    font-size: 1rem;
    color: #fff;
    line-height: 1.4;
    margin-top: 1.2rem;
} */
/* 
@media screen  and (max-width:960px){
    .hero{
        height: auto;
        width: 100%;
    }

    .hero .container{
        padding: 0 1rem;
    }


} */